<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    Welcome {{ first_name }} {{ last_name }}!
    <img src="{{url_for('static', filename=image_path)}}" width="50px">
</body>
</html>